.cartDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.priceDistribution {
  display: flex;
  justify-content: center;
  padding: 10px 5px;
}

.cartProductname .productName {
  overflow-wrap: break-word;
  max-width: 150px;
}

.purchaseInfo {
  display: flex;
}
.purchaseInfo div {
  margin-right: 100px;
}

.cartProductname p {
  color: #a2a2a2;
}

.priceDetail {
  width: 200px;
}
.priceDetail p {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}
.priceDetail p span:nth-child(2) {
  width: 50px;
}

.purchaseInfoMobile,
.subtotalMobile {
  display: none;
}

.subtotal {
  display: flex;
}

.subtotal > div {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.placeOrder {
  display: flex;
  justify-content: end;
  margin-top: 50px;
  padding-inline: 260px;
  margin-bottom: 20px;
}

.emptyCart {
  text-align: center;
  margin: 50px;
  color: var(--primary-colour);
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .purchaseInfo,
  .subtotal {
    display: none;
  }
  .priceDistribution {
    background-color: #dbdbdb;
  }
  .purchaseInfoMobile {
    display: block;
    margin-top: 20px;
    line-height: 25px;
  }
  .purchaseInfoMobile h3 {
    font-weight: 1;
  }
  .purchaseInfoMobile .price {
    font-weight: bolder;
    font-size: 25px;
  }
  .subtotalMobile {
    display: flex;
    justify-content: start;
  }
  .subtotalMobile h4 {
    width: 300px;
    display: flex;
    padding-inline: 30px;
    font-size: 20px;

    justify-content: start;
  }

  .placeOrder {
    display: flex;
    justify-content: end;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-inline: 0px;
  }
}
