.gridCard {
  display: flex;
  flex-direction: column;
  width: 21%;
  height: 350px;

  line-height: 1.6em;
  margin: 2%;
}
.listCard {
  height: 250px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
}

.gridCardImg {
  padding: 20px;
  height: 250px;
  width: 100%;

  background-color: #d4e5ff;
}
.listCardImg {
  background-color: #d4e5ff;
  height: 250px;
  padding: 20px;
  width: 40%;
}
.gridCardImg img {
  width: 100%;
  height: 100%;
}
.listCardImg img {
  width: 100%;
  height: 100%;
}
.listproductDescription {
  padding: 30px;
  line-height: 28px;
}

.listproductDescription h3:first-child {
  font-size: 25px;
}
.listproductDescription p {
  font-weight: 500;
  font-size: 22px;
}
.detailsBtn {
  margin-top: 10px;
  width: 100px;
  padding: 5px;
  border-radius: 1000px;
  color: var(--white);
  border: none;
  background-color: var(--primary-colour);
}
@media only screen and (max-width: 500px) and (min-width: 300px) {
  .gridCard {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 250px;

    line-height: 1.6em;
  }

  .gridCardImg {
    padding: 20px;
    height: 140px;
    width: 100%;
    background-color: #d4e5ff;
  }
  .gridproductDescription h3 {
    font-size: 17px;
  }
  .gridproductDescription h4 {
    font-size: 14px;
  }
}
