.orderbutton {
  border: none;
  text-align: center;
  width: 200px;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;

  background-color: #ffd600;
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .orderbutton {
    border: none;
    text-align: center;
    width: 200px;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #ffd600;
  }
}
